<%- include("./partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="raised-block">
        <h3>Weight List</h3>
        <p>you are this old gender: <%=currentUser.gender%></p>

      </div>
    </div>
    <div class="col-md-6">
      <div class="raised-block">
        <h3>BMI</h3>
        <p>your weight is: <%=currentUser.weight%></p>
        <p>
          your height is: <%=currentUser.heightFt%>'<%=currentUser.heightIn%>lbs

          your bmi is: <%=bmi%>
        </p>

      </div>
    </div>
    <div class="col-md-12">
      <div class="raised-block">
        <h3>Graph</h3>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>