<%- include("./partials/header") %>
<%- include("partials/flash") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="raised-block" id="list">
        <h3>Weight History</h3>
        <div class="text-center">
          <form id="custom-form" action="/profile" method="post">
            <div class="form-group">
              <input type="number" id="InputLbs" name="weight" min="1" max="1000" step=".1" placeholder=" weight in lbs"
                required>
              <button class="btn btn-outline-dark fa-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
        <ul class="weights-list">
          <% for(var i=0; i<5; i++) {%>
          <% if(typeof weights[i] == "undefined"){ %><p> Add more weights to populate the list</p><%break } else{%>
          <li class="weights-list-item"><span id="bold"><%= JSON.stringify(weights[i].weight) %>lbs</span><span
              id="muted"> on
              <%= JSON.parse(JSON.stringify(weights[i].date)) %></span>
            <a href="/profile/weights/<%= weights[i].id %>/edit"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></a>
            <form class="custom-btn" action="/profile/weights/<%= weights[i].id %>?_method=DELETE" method="POST"
              class="delete-form">
              <!-- Cant make a get request from a button, so it needs to be a form -->
              <input type="submit" class="trash-can" value="&#xf1f8">
            </form>
          </li>
          <% } %>
          <% } %>
        </ul>

        <div class="text-center">
          <a href="/profile/weights"><button class="btn btn-outline-dark">View All</button></a>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="raised-block">
        <h3>Body Mass Index</h3>
        <div class="row">
          <div class="col-5">

            <div class="circleBase contact-circle" style="background-color: <%=color%>;" id="bmiColor">
              <div id="bmiScore">
                <%=bmi%>
              </div>
            </div>
          </div>
          <div class="col-7">
            <p>Less than 18.5 = Underweight<br>
              Between 18.5 - 24.9 = Healthy Weight<br>
              Between 25 - 29.9 = Overweight<br>
              Over 30 = Obese</p>
            <div class="text-center">
              <a href="https://www.nhs.uk/common-health-questions/lifestyle/what-is-the-body-mass-index-bmi/"
                target="_blank"><button class="btn btn-outline-dark">BMI Information</button></a>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="raised-block  chart-container" id="chartDate" data-date="<%-chartDate %>">
        <h3 id="chartWeight" data-weight="<%- chartWeight %>">Weight Over Time</h3>
        <div style="height: 380px; width: 100%">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato'; // set chart font to Lato

    // Get JS varaibles into ejs
    let bmiColour = document.getElementById('bmiColor').style.backgroundColor;
    let chartWeight = document.getElementById('chartWeight').dataset.weight
    let chartDate = document.getElementById('chartDate').dataset.date;
    // Make ejs variables back to arrays
    let arrWeight = chartWeight.split(','); // split string on comma
    let arrDate = chartDate.split(',');
    console.log(arrDate);
    console.log(arrWeight);

    //Build Chart
    let chart = new Chart(myChart, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: arrDate, // array of dates
        datasets: [{
          label: 'lbs',
          data: arrWeight, // array of weights
          backgroundColor: bmiColour,
          borderColor: 'white',
        }]
      },

      // Configuration options go here
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        }
      }
    });
  </script>
</div>

<%- include("./partials/footer") %>